.currencyContainer {
  background-color: orange;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.currencyList {
  padding: 5px;
  margin: 2px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 800px;
}

.currencyContentText {
  text-align: center;
  width: 100%;
  font-weight: 600;
  color: white;
}

.currencyFooter {
  display: flex;
  justify-content: center;
}
