.container {
  background-color: orange;
  /* align-items: center;
  justify-content: center; */
}

.list {
  padding: 5px;
  margin: 2px;
  /* width: 600px; */
  /* width: "100%"; */
  display: flex;
  /* background-color: chartreuse; */
}

.content-text {
  text-align: center;
  width: 100%;
  font-weight: 600;
  color: white;
  /* background-color: darkorange; */
}

.footer {
  display: inline-block;
  justify-content: center;
  /* background-color: darkorchid; */
}
